@font-face {
  font-family: 'title';
  src: url('../BAUHS93.ttf');}

#title{
  font-family: title;}

a{
  text-decoration: none;}

#imglink{
  height: 30px;
  width: 30px;
  display: block;}

.links{
  border: 2px;}
