@font-face {
  font-family: 'title';
  src: url('../BAUHS93.ttf');}

body{
  overflow: auto;
  background-image: url('background02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;}
  
#title{
  font-family: title;
  font-size: 2em;}

a{
  text-decoration: none;}

#imglink{
  height: 30px;
  width: 30px;
  display: block;}

.links{
  border: 2px solid black;
  padding: 20px;
  margin: 20px auto 20px auto;
  border-radius: 10px;}

#container{
  max-height: 75%;
  max-width: 60%;
  margin: 20px auto 20px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: auto;}

h1{
  margin: 20px auto 20px auto;}
